<div ng-controller="et2Controller" class="modal-header">
    <form name="frmCompBudget" class="form-horizontal" role="form">

        <div class="row" >
            <div class="col-sm-2">
                <select id="compMonth" name="compMonth" class="form-control" ng-model="item.month">  
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
            </div>
            
            <div class="col-sm-2">
                <select id="compYear" name="compYear" class="form-control" ng-model="item.year">  
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>                    
                    <option value="2015">2015</option> 
                    <option value="2016">2016</option> 
                    <option value="2017">2017</option> 
                    <option value="2018">2018</option> 
                </select>
            </div>
                        
            <div class="col-sm-6">
                <button ng-click="compareBudget()" class="btn btn-default btn-primary" >Compare</button>
            </div>
            
        </div>
        
    </form>
</div>

<div class="modal-body"> 
    
    <p ng-show="item.compareList!==null && item.compareList.length===0 ">No matching records found.</p>
    
    <table class="table table-bordered table-striped table-condensed" ng-show="item.compareList.length>0">
        <thead>
            <tr>
                <th>Category</th>
                <th>Budgeted</th>
                <th>Actual</th>
                <th>Status</th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{danger: exp.status==='over'}" ng-repeat="exp in item.compareList">                
                <td>{{exp.category}}</td> 
                <td>{{exp.budgeted | currency}}</td> 
                <td><a ng-click="openSubDialog(item.month,item.year,exp.category)">{{exp.actual | currency}}</a></td> 
                <td>{{exp.status}}</td> 
            </tr> 
        </tbody>
        <tfoot>
            <tr ng-class="{danger: item.compareTotalStatus==='over'}"> 
                <th>Total</th>
                <th>{{item.compareTotalBudgeted | currency}}</th>
                <th>{{item.compareTotalActual | currency}}</th>
                <th>{{item.compareTotalStatus}}</th>
            </tr>
        </tfoot>       
    </table>
    
</div>
    
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>    
</div>
    

